<!DOCTYPE html>
<html lang="en">

<head>
	<title>Desafio 2xt</title>
    <meta charset="utf-8" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js" integrity="sha256-23hi0Ag650tclABdGCdMNSjxvikytyQ44vYGo9HyOrU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-animate.min.js" integrity="sha256-biQnzwpmTVb5ZZDRDiU8iwbj7ZPTH9SZSxn5gewyFA0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-aria.min.js" integrity="sha256-oNV+8AzrXKmECd3VsoTxpdw8xuWAs1lAL85LG5U7gBM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-messages.min.js" integrity="sha256-NH+B//yMPOs9SsRoja1OuMOrbVA97MiD4ieDkKXr3KQ=" crossorigin="anonymous"></script>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.19/angular-material.min.js"></script>



    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid c" style="min-height:95%; ">
		<div class="row">
            <div class="col-sm-12">
                <br>
                <center>
                <h3><b>Desafio 2xt</b></h3>
                </center>
            </div>
        </div>
        <hr>
        {% block content %}
        {% endblock %}
    </div>
    <br />
    <hr />
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
		</div>
	</footer>

</body>
</html>


