{% extends 'myapp/base_template.html' %}

{% block content %}
    {% if quotation_list %}
        <md-content ng-controller="ListCtrl as ctrl" layout-padding="" ng-cloak="" class="content-container" ng-app="MyApp" ng-init="ctrl.quotations={{quotation_list}}">
            <div class="table-responsive" style="max-width: 98%; margin: auto; background-color: inherit">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr style="font-size: 22px">
                            <th class="center-align" style="width: 20%">Plano</th>
                            <th class="center-align" style="width: 25%">Danos às Malas</th>
                            <th class="center-align" style="width: 25%">Despesas Médicas Hospitalares</th>
                            <th class="center-align" style="width: 30%">Custo Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quotation in quotation_list %}
                        <tr style="font-size: 18px">
                            <td class="center-align"> {{ quotation.name }} </td>
                            <td class="center-align"> {{quotation.baggage_damage_coverage}} </td>
                            <td class="center-align"> {{quotation.medic_expenses_coverage}} </td>
                            <td class="center-align flex-around">
                                <span style="margin: auto;"> Adulto ({{ quotation.min_age }} a {{ quotation.elder_age }} anos):
                                    <br /> R$ {{ quotation.net_price }}
                                </span>
                                <md-button id="{{ quotation.id }}" class="select-btn" type="button" ng-disabled="false" ng-click="ctrl.selectQuotation($event)">Selecionar</md-button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </md-content>
    {% else %}
        <form name ="myForm" class="form" action="{% url 'myapp:search' %}" method="get">
        {% csrf_token %}
            <md-content ng-controller="AppCtrl as ctrl" layout-padding="" ng-cloak="" class="content-container" ng-app="MyApp" style="flex-direction: column; align-items: center">
                <div><span>Não foram encontradas cotações para os parâmetros solicitados!</span></div>
                    <md-input-container class="input-container" style="padding: 0; display: flex; justify-content: center" id="btn-container">
                        <md-button class="submit-btn" type="submit" ng-disabled="false">Voltar</md-button>
                    </md-input-container>
            </md-content>
        </form>
    {% endif %}

            <!-- TODO: make a template for each line!-->
{#             {% include 'quotation.html' with quotation=quotation %}#}

        <script>
            angular.module('MyApp', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache', 'ui.utils.masks'])
                .controller('ListCtrl',function($http, $window, $mdDialog) {
                    this.selectQuotation = function (event){
                        let desired_quot_id = parseInt(event.target.id); //button id
                        let selected_quotation = null;
                        for (index in this.quotations){
                            if(this.quotations[index].id === desired_quot_id){
                                selected_quotation = this.quotations[index];
                                break;
                            }
                        }

                        if(selected_quotation !== null){
                            this.openPurchaseModal(selected_quotation);
                        }
                    };

                    this.openPurchaseModal = function(quotation){
                        var parentEl = angular.element(document.body);
                        {% load static %}
                        let templateUrl = "{% static 'modal/purchase.html' %}"
                        $mdDialog.show({
                            parent: parentEl,
                            templateUrl: templateUrl,
                            controller: 'PurchaseModalCtrl',
                            clickOutsideToClose: true,
                            hasBackdrop: true,
                            locals:{
                                quotation: quotation
                            }
                        });
                    };

                    this.buyQuotation = function (quotation){
                        $http({
                           method: 'POST',
                           url: "{% url 'myapp:purchase' %}",
                           data: JSON.stringify(quotation),
                           timeout: 4000
                        }).then(function (success) {
                            alert("Compra efetuada com sucesso!");
                             $window.location.href = "{% url 'myapp:search' %}";
                        }, function (error) {
                           alert("Não foi possĩvel efetuar a compra, tente novamente mais tarde!");
                           console.error(error)
                        });
                    };
                })
                .controller('PurchaseModalCtrl', function($scope, $http, $mdDialog, quotation, $mdDateLocale, $window){
                    $scope.quotation = quotation;
                    $scope.insureds = [];
                    console.log(quotation)
                    $scope.addInsured = function(){
                        let insured = {index: $scope.insureds.length};
                        $scope.insureds.push(insured);
                    };
                    $scope.removeInsured = function(index){
                        $scope.insureds.splice(index, 1);
                    };
                    $scope.closeDialog = function() {
                        $mdDialog.hide();
                    };
                    $scope.makePurchase = function(){
                        let purchase_body = $scope.mountPurchaseBody();
                        $http({
                           method: 'POST',
                           url: "{% url 'myapp:purchase' %}",
                           data: JSON.stringify(purchase_body),
                           timeout: 40000
                        }).then(function (success) {
                             $window.location.href = "{% url 'myapp:search' %}";
                        }, function (error) {
                           alert("Não foi possível efetuar a compra, tente novamente mais tarde!");
                           console.error(error)
                        });
                    };

                    $scope.mountPurchaseBody = function(){
                        let body = {};
                        body.plan_id = $scope.quotation.id;
                        body.coverage_begin = $scope.quotation.client_info.boarding;
                        body.coverage_end = $scope.quotation.client_info.landing;
                        body.destination_id = $scope.quotation.destination.id;
                        body.contact = {
                            name: $scope.quotation.client_info.name,
                            email: $scope.quotation.client_info.email,
                            phone: $scope.client.phone
                        };
                        body.address = {
                            address: $scope.client.address,
                            cep: $scope.client.cep,
                            city: $scope.client.city,
                            state: $scope.client.state
                        };
                        debugger;
                        body.insureds = $scope.cleanInsureds();
                        return body;
                    };

                    $scope.cleanInsureds = function(){
                        return $scope.insureds.map( insured => {
                            let clean_insured = {};
                            clean_insured.first_name = insured.first_name;
                            clean_insured.last_name = insured.last_name;
                            clean_insured.cpf = insured.cpf;
                            clean_insured.date_of_birth = moment(insured.birth).format('YYYY-MM-DD');

                            return clean_insured;
                        })
                    }
                })
                .config(['$httpProvider', function($httpProvider) {
                    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
                }])
                .config(function($mdDateLocaleProvider) {
                    $mdDateLocaleProvider.formatDate = function(date) {
                        return moment(date).format('DD/MM/YYYY');
                    };
                    $mdDateLocaleProvider.parseDate = function(dateString) {
                        var m = moment(dateString, 'DD/MM/YYYY', true);
                        return m.isValid() ? m.toDate() : new Date(NaN);
                    };
                });
        </script>
{% endblock %}
