{% extends 'myapp/base_template.html' %}

{% block content %}
    <form action="{% url 'myapp:list' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <label for="boarding">Data do Embarque: </label>
        <input id="boarding" type="date" name="boarding" required>
        <label for="landing">Data do Desembarque: </label>
        <input id="landing" type="date" name="landing" required>
        <label for="name">Nome: </label>
        <input id="name" type="text" maxlength="140" name="name" required>
        <label for="email">Email: </label>
        <input id="email" type="email" name="email" required>
    <button type="submit">Submit</button>
{% endblock %}
