{% extends 'myapp/base_template.html' %}

{% block content %}

    <form name ="myForm" class="form" action="{% url 'myapp:list' %}" method="post">
        {% csrf_token %}
        <md-content ng-controller="AppCtrl as ctrl" layout-padding="" ng-cloak="" class="content-container" ng-app="MyApp" ng-init="ctrl.destinations={{dest_choices}}">
            <md-input-container class="input-container" id="destination_container" >
                <label>Destino</label>
                <md-select class="select" ng-if="ctrl.destinations && ctrl.destinations.length > 0" ng-model="ctrl.selected_destination" name="destination" required>
                    <md-option ng-value="option.id" ng-repeat="option in ctrl.destinations" ng-selected="option.id==ctrl.selected_destination.id"><span ng-bind="option.name"></span></md-option>
                </md-select>
                <div ng-messages="myForm.destination.$error">
                    <div ng-message="valid">Use a valid date format</div>
                    <div ng-message="required">Select a boarding date</div>
                </div>
            </md-input-container>
            <md-input-container class="input-container" id="boarding_container" >
                <label>Embarque</label>
                <md-datepicker ng-model="ctrl.boarding" name="boarding" md-min-date="ctrl.minDate" md-max-date="ctrl.boardingMaxDate()" required=""></md-datepicker>
                <div ng-messages="myForm.boarding.$error">
                    <div ng-message="valid">Use a valid date format</div>
                    <div ng-message="required">Select a boarding date</div>
                    <div ng-message="mindate">Choose a date on or after {{ctrl.minDate | date:"shortDate"}}</div>
                    <div ng-message="maxdate">Choose a date on or before {{ctrl.maxDate | date:"shortDate"}}</div>
                </div>
            </md-input-container>
            <md-input-container class="input-container" id="landing_container" >
                <label>Desembarque</label>
                <md-datepicker ng-model="ctrl.landing" name="landing" md-min-date="ctrl.landingMinDate()" required=""></md-datepicker>
                <div ng-messages="myForm.landing.$error">
                    <div ng-message="required">Select a landing date</div>
                    <div ng-message="valid">Use a valid date format</div>
                    <div ng-message="mindate">Choose a date on or after {{ctrl.getLandingMin | date:"shortDate"}}</div>
                </div>
            </md-input-container>
            <md-input-container class="input-container" id="name_container" >
                <label for="name">Nome: </label>
                <input id="name" type="text" maxlength="100" name="name" required="" value="" ng-model="ctrl.name"/>
                <div ng-messages="myForm.name.$error">
                    <div ng-message="required">Insert your name</div>
                </div>
            </md-input-container>
            <md-input-container class="input-container" id="email_container" >
                <label for="email">Email: </label>
                <input id="email" type="email" name="email" maxlength="100" required="" value="" ng-model="ctrl.email" >
                <div ng-messages="myForm.email.$error">
                    <div ng-message="required">Insert your email</div>
                    <div ng-message="invalid">Use a valid email</div>
                </div>
            </md-input-container>
            <md-input-container class="input-container" style="padding: 0" id="btn-container" >
                <md-button class="submit-btn" type="submit" ng-disabled="myForm.$invalid">Buscar</md-button>
            </md-input-container>
            <!-- Inputs used to hold the values that will be sent to the backend on form submit-->
            <input style="display: none" name="selected_destination" ng-model="ctrl.selected_destination" />
            <input style="display: none" type="date" name="boarding" ng-model="ctrl.boarding" />
            <input style="display: none" type="date" name="landing" ng-model="ctrl.landing" />
        </md-content>
    </form>

    <script>
        angular.module('MyApp', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])
            .controller('AppCtrl',function($scope, $mdDateLocale) {
              this.myDate = new Date();

              this.getOptionId = function (option){
                  return option.id;
              };
              this.getOptionName = function (option){
                  return option.name;
              };
              this.minDate = new Date(
                this.myDate.getFullYear(),
                this.myDate.getMonth(),
                this.myDate.getDate()
              );
              this.landingMinDate = function (){
                  if (this.boarding !== undefined && this.boarding !== null){
                      return this.boarding;
                  }
                  return this.minDate;
              };
              this.boardingMaxDate = function (){
                  if (this.landing !== undefined && this.landing !== null){
                      return this.landing;
                  }
                  return null;
              };
            })
            .config(function($mdDateLocaleProvider) {
                $mdDateLocaleProvider.formatDate = function(date) {
                      return moment(date).format('DD/MM/YYYY');
                };
                $mdDateLocaleProvider.parseDate = function(dateString) {
                      var m = moment(dateString, 'DD/MM/YYYY', true);
                      return m.isValid() ? m.toDate() : new Date(NaN);
                };
            })
    </script>
{% endblock %}
